.cont-contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.cont-contacto .contacto-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

/* IMAGEN DE CONTACTO */
.cont-contacto .contacto-link .cont-img {
    margin-right: 10px;
}

.cont-contacto .contacto-link .cont-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid grey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR FLEX INFO CONTACTO */

.cont-contacto .contacto-link .flex-info-contacto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: calc(100% - 75px);
    /* Ajusta el ancho para que el mensaje y la última conexión se alineen correctamente */
}

/* INFO CONTACTO */

.cont-contacto .contacto-link .flex-info-contacto .info-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* NOMBRE CONTACTO */

.cont-contacto .contacto-link .flex-info-contacto .nombre-contacto {
    color: white;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ULTIMA CONEXION */

.cont-contacto .contacto-link .flex-info-contacto .ultima-conexion {
    font-size: 12px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Añade puntos suspensivos (...) al final si el texto desborda */
    margin-right: 10px;
}

/* ULTIMO MENSAJE */

.cont-contacto .contacto-link .flex-info-contacto .ultimo-mensaje {
    font-size: 14px;
    color: #9b9b9b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    width: calc(100% - 65px);
}

