@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'StarWarsFont';
    src: url('./fonts/Star%20Wars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (min-width: 650px) {

    .cont-img img {
        width: 70px;
        height: 70px;
    }
    .cont-img {
        margin-right: 15px;
    }
    .nombre-contacto {
        font-size: 18px;
    }
    .ultimo-mensaje {
        font-size: 16px;
    }
    .contenedor-header .contenedor-nav {
        height: 100px;
    }
    .contenedor-header .contenedor-nav .contenedor-izquierda {
        width: 70%;
    }
    .contenedor-header .contenedor-nav .contenedor-izquierda .nombre {
        gap: 30px;
        white-space: nowrap;
        overflow: none;
        text-overflow: none;
        padding-left: 20px;
        font-family: 'StarWarsFont';
        font-size: 20px;
        color: #ece378;
    }
    .contenedor-header .contenedor-nav .contenedor-izquierda .contenedor-img {
        width: 80px;
        height: 80px;
    }
    .contenedor-header .contenedor-nav .contenedor-derecha {
        gap: 30px;
    }
    svg {
        font-size: 1.7rem;
    }
    .contenedor-header .contenedor-nav .contenedor-izquierda .flecha svg {
        font-size: 2.5rem;
    }
    .flecha-volver svg {
        font-size: 2.5rem;
    }
    .contenedor-footer .contenedor-izquierda {
        height: 70px;
    }
    .contenedor-footer .contenedor-izquierda svg {
        font-size: 1.7rem;
    }
    .contenedor-footer .btn-enviar {
        width: 70px;
        height: 70px;
    }
    .contenedor-footer .btn-enviar svg {
        font-size: 1.8rem;
    }
    .contenedor-lista-mensajes {
        margin-top: 100px;
    }
    .contenedor-mensaje .mensaje-yo {
        margin-left: 29%;
    }
    .cont-contactos{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1050px) {

    .contenedor-header-home .nombre-app {
        font-size: 30px;
        padding-left: 20px;
    }
    .contenedor-header-home .input-buscador {
        background-color: #242626;
        height: 45px;
        padding: 0 20px;
    }
    .contacto-link {
        gap: 20px;
    }
    .cont-contacto {
        padding: 7px;
    }
    .cont-img img {
        width: 80px;
        height: 80px;
    }
    .flex-info-contacto {
        width: 90%;
        align-items: space-between;
    }
    .cont-contacto .info-contacto .nombre-contacto {
        font-size: 1.3rem;
    }
    .cont-contacto .info-contacto .ultima-conexion {
        color: #a3a3a3;
        font-size: 1rem;
    }
    .cont-contacto .ultimo-mensaje {
        padding-top: 20px;
        font-size: 1.2rem;
    }
    .cont-contactos {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .cont-contactos {
        height: 100vh;
        overflow-y: auto;
        padding: 10px;
        padding-top: 20px;
    }
    .footer-home .contenedor-botones {
        justify-content: space-around;
    }
    .contenedor-mensaje {
        margin-left: 40px;
        margin-right: 40px;
    }
    .contenedor-lista-mensajes {
        gap: 15px;
    }
    .contenedor-header-home nav {
        background-image: url('../../../public/imagenes/stars.jpg');
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
    }
}